:root {
  --white: hsl(0, 100%, 100%);
  --almost-black: hsl(0, 0%, 8%);
  --slate-gray: hsl(0, 0%, 35%);
  --dark-gray: hsl(0, 0%, 66%);

  /*
  --primary-lightest: hsl(185, 40%, 71%);
  --primary-lighter: hsl(195, 43%, 62%);
  --primary: hsl(200, 33%, 50%);
  --primary-darker: hsl(205, 23%, 36%);
  --primary-darkest: hsl(215, 26%, 27%);
  --secondary: hsl(100, 30%, 66%);
  --accent: hsl(20, 100%, 50%);

  --display-window: hsl(185, 100%, 87%);
  --display-dark-mode: hsl(120, 73%, 75%);

  */
}

@font-face {
  font-family: "Digital-7";
  src: url("./digital-7.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Digital-7", sans-serif;
  font-size: 1.5rem;
}

/* typography */

.display-text {
  background-color: inherit;
  border: none;
  caret-color: transparent;
  color: var(--almost-black);
  cursor: default;
  font-family: inherit;
  font-size: 5rem;
  text-align: right;
  width: 100%;
}

.display-text:focus-visible,
.display-text:focus {
  outline: none;
}

.btn__num,
.btn__operator,
.btn__clear {
  font-size: 2.5rem;
}

.btn__operator,
.btn__clear {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.btn.btn__operator.minus-sign {
  border-radius: 12px;
  font-size: 4.5rem;
}

.btn__text,
.btn__exponent {
  font-family: "Oranienbaum", serif;
  font-size: 1.5rem;
}

.btn__exponent,
.btn__special-text {
  font-style: italic;
}

.exponent__text {
  font-size: 0.75rem;
}

/* containers */

.main-container {
  align-items: center;
  background: linear-gradient(
    45deg,
    var(--white),
    var(--primary-lightest),
    var(--primary-lighter),
    var(--primary),
    var(--primary-darker),
    var(--primary-darkest)
  );
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.main-container.dark {
  background: var(--almost-black);
}

.calculator-shell {
  /* background-color: var(--secondary); */
  background-color: var(--accent);
  border-radius: 1rem;
  box-shadow: 0 0 1.5em #000;
  max-width: 600px;
  position: relative;
}

.calculator-shell.dark {
  background-color: var(--slate-gray);
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row__final {
  margin-bottom: 0;
}

.row__txt-btns {
  display: flex;
}

/* Components */

.display-window {
  align-items: flex-end;
  background-color: var(--display-window);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
  padding: 28px 3.2px 3.2px;
}

.display-window.dark {
  /* background-color: var(--display-dark-mode); */
  /* box-shadow: 0px 0px 80px 5.8px var(--display-dark-mode); */
  box-shadow: 0px 0px 80px 5.8px var(--display-window);
}

.keypad {
  gap: 0.25em;
  padding: 0.5em;
}

.btn {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--primary-darkest);
  color: var(--primary-darkest);
  border-radius: 0.3em;
  display: flex;
  height: 75px;
  justify-content: center;
  padding: 0.4em;
  width: 75px;
}

.btn.dark {
  background-color: var(--dark-gray);
  border-color: var(--almost-black);
}

.btn__operator,
.btn__clear {
  align-self: flex-start;
  /* background-color: var(--primary); */
  /* background-color: var(--accent); */
  background-color: var(--secondary);
  color: var(--white);
  border: 1px solid var(--white);
  padding-bottom: 0.52em;
}

.btn.btn__operator.dark,
.btn.btn__clear.dark {
  background-color: var(--almost-black);
  border-color: var(--dark-gray);
  color: var(--dark-gray);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn.key-pressed {
  background-color: var(--accent);
}

.btn.dark.key-pressed {
  background-color: var(--almost-black);
  border-color: var(--dark-gray);
  color: var(--dark-gray);
}

.btn.btn__operator.key-pressed,
.btn.btn__clear.key-pressed {
  background-color: var(--white);
  color: var(--accent);
}

.btn.btn__operator.dark.key-pressed,
.btn.btn__clear.dark.key-pressed {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
  color: var(--almost-black);
}

/* .btn__equals,
.btn__clear {
  color: var(--accent);
} */

.btn.btn__operator.btn__equals.dark,
.btn.btn__clear.dark {
  color: var(--primary);
}

.btn.btn__operator.btn__equals.dark.key-pressed {
  color: var(--almost-black);
}

.btn__exponent {
  position: relative;
}

.exponent__text {
  position: absolute;
  top: 30%;
  right: 28%;
}

.btn__inverse {
  font-size: 1rem;
}

.btn__inverse__numerator {
  font-size: 0.75rem;
  bottom: 8px;
  position: relative;
}

.btn__inverse__denominator {
  position: relative;
  top: 8px;
}

.btn.btn__clear,
.row__txt-btns {
  width: 42%;
}

.control-panel {
  align-self: flex-end;
  display: flex;
}

.btn__dark-mode-toggle,
.btn__color-scheme-toggle {
  align-self: flex-end;
  background-image: url("../assets/night-mode.png");
  background-size: cover;
  border-radius: 50%;
  margin: 5px 12px;
  height: 40px;
  width: 40px;
}

.btn__color-scheme-toggle {
  background-image: url("../assets/color-wheel.png");
  transition: transform 0.2s;
}

.spin-wheel {
  transform: rotate(360deg);
}

/* Landscape mode mobile and tablet styles */

@media (max-width: 820px) {
  .btn {
    font-size: 1rem;
    height: 40px;
    width: 13.2%;
  }

  .row__txt-btns .btn {
    width: 30.79%;
  }

  .btn__inverse__numerator {
    bottom: 5px;
    font-size: 0.5rem;
  }

  .btn__inverse__denominator {
    font-size: 0.8rem;
    top: 5px;
  }

  .btn.btn__operator.minus-sign {
    border-radius: 0.3rem;
    font-size: 2rem;
  }

  .display-window {
    padding: 0.25em;
  }

  .display-text {
    font-size: 3rem;
  }

  .btn__dark-mode-toggle,
  .btn__color-scheme-toggle {
    height: 30px;
    width: 30px;
  }
}

/* Portrait mode mobile styles */

@media (max-width: 450px) {
  .calculator-shell {
    max-width: 300px;
  }

  .row__txt-btns {
    display: none;
  }

  .display-window {
    padding: 0.3em 0.25em;
  }

  .keypad {
    gap: 0.3333em;
    padding: 0 0.5em 1.5em;
  }

  .row__one {
    flex-wrap: wrap;
  }

  .btn {
    font-size: 1rem;
    height: 45px;
    width: 22%;
  }

  .btn.btn__clear {
    margin-bottom: 8px;
    width: 100%;
  }

  .btn__dark-mode-toggle,
  .btn__color-scheme-toggle {
    height: 30px;
    width: 30px;
  }
}
